<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>介绍页</title>
</head>
<body>
<h1>此页为<a href="https://tigergit.pythonanywhere.com/">Tiger Logic Blog</a>的介绍页。</h1>
<h2>本站为外国网站托管平台Pythonanywhere托管的，所以没有在国内备案，此网站的版权所有为平邑县第五实验小学所有(准确为：此校四年级三班张政扬所有)，侵权必究！</h2>
<h1>FAQ:</h1>
<h2>A:为何我们的网站的网址这么长？</h2>
<h2>Q:因为本站为外国网站托管平台<a href="https://www.pythonanywhere.com/">Pythonanywhere</a>托管，域名不可自定义。</h2>
<h2>A:我们的学校是真实存在的吗？</h2>
<h2>Q:是。</h2>
</body>
</html>