<!DOCTYPE HTML>
{% load static %}
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Tiger Logic</title>
        <div>
            <style>
                body{
                            background-size: 100% ;
                    }
            </style>
        </div>
    </head>
    <body background="https://tigergit.pythonanywhere.com/static/image/background.jfif">
    <meta charset="utf-8">
        <h1 style="text-align: center">Tiger Logic ————老虎逻辑</h1>
        <h2 style="text-align: center">大家好啊，初来乍到,还请多多包容，千万不要攻击我的网站。</h2>
    <a href="https://space.bilibili.com/1981943544?spm_id_from=333.1007.0.0"><p style="text-align: center"><img class="My_bilibili_head_logo" src="https://tigergit.pythonanywhere.com/static/image/logo.jpg" alt=""></p></a>
    <br>
       <div>
        <h1 style="text-align: center"><a href="/">Tiger Logic Blog</a></h1>
    </div>

    {% for post in posts %}
        <div>
            <p style="text-align: center">published: {{ post.published_date }}</p>
            <h1 style="text-align: center"><a href="">{{ post.title }}</a></h1>
            <p style="text-align: center">{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <h2 style="text-align: center">(以下是暂时开放的新闻区)7月8日上午，日本前首相安倍晋三被枪杀！！</h2>
    <h1 style="text-align: center">公告栏</h1>
    <p style="text-align: center">道歉：由于本UP主写的代码像垃圾山一样，因此UP主决定，不再对研发小组外开放News新闻模块。预计于2023年7月3日再次开放新闻模块。谢谢大家两个月来对本网站的支持！</p>
    <p style="text-align: center">研发小组内部QQ群:284150711</p>
    <hr>
    <div>
        <p style="text-align: center">Corporation © PingYi NO.5 primary school.</p>
    </div>
    </body>
</html>